# 1. Import Libraries & Data

In [417]:
# import libraries
import numpy as np
import pandas as pd
import os
import datetime

In [418]:
# import data
path = r'/Users/oliviamurphy/Desktop/Airlines Project/02 Data'
delta_df = pd.read_csv(os.path.join(path, 'Original Data', 'Delta Departures Original.csv'))
american_df = pd.read_csv(os.path.join(path, 'Original Data', 'American Departures Original.csv'))
united_df = pd.read_csv(os.path.join(path, 'Original Data', 'United Departures Original.csv'))
southwest_df = pd.read_csv(os.path.join(path, 'Original Data', 'Southwest Departures Original.csv'))
airport_codes_df = pd.read_csv(os.path.join(path, 'Original Data', 'Airport Codes Original.csv'))

# 2. Drop Columns (Data Wrangling)

## airport_codes_df

In [419]:
# returns first five rows of airport_codes_df
airport_codes_df.head()

  AirportCode                             CityName  WorldAreaCode
0         AAC  AL ARISH, ARAB REP. OF EGYPT                   591
1         AAE  ANNABA, ALGERIA                                500
2         AAF  APALACHICOLA, FLORIDA, USA                      33
3         AAH  AACHEN, GERMANY                                429
4         AAI  ARRAIAS, BRAZIL                                316

In [420]:
# checks shape of dataframe
airport_codes_df.shape

(9235, 3)

In [421]:
# returns list of variables for airport_codes_df
airport_codes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9235 entries, 0 to 9234
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AirportCode    9235 non-null   object
 1   CityName       9235 non-null   object
 2   WorldAreaCode  9235 non-null   int64
dtypes: int64(1), object(2)
memory usage: 216.6+ KB

In [422]:
# drops columns from airport_codes_df
airport_codes_df = airport_codes_df.drop(columns = {'WorldAreaCode'})

## delta_df

In [423]:
# returns first five rows of delta_df
delta_df.head()

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,DL,1/1/17,50.0,N385DN,SLC,16:45,16:49,119.0,108.0,4.0,17:04,15.0,0.0,0.0,0.0,0.0,0.0
1,DL,1/1/17,106.0,N313US,SLC,13:05,13:01,117.0,116.0,-4.0,13:21,20.0,0.0,0.0,0.0,0.0,0.0
2,DL,1/1/17,132.0,N588NW,DTW,7:15,7:18,258.0,247.0,3.0,7:32,14.0,0.0,0.0,0.0,0.0,0.0
3,DL,1/1/17,798.0,N848DN,SLC,6:15,6:38,125.0,126.0,23.0,6:53,15.0,23.0,0.0,1.0,0.0,0.0
4,DL,1/1/17,1592.0,N557NW,ATL,6:30,7:00,251.0,243.0,30.0,7:19,19.0,22.0,0.0,0.0,0.0,0.0

In [424]:
# checks shape of dataframe
delta_df.shape

(36240, 17)

In [425]:
# returns list of variables for delta_df
delta_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36240 entries, 0 to 36239
Data columns (total 17 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Carrier Code                              36239 non-null  object
 1   Date (MM/DD/YYYY)                         36238 non-null  object
 2   Flight Number                             36238 non-null  float64
 3   Tail Number                               36191 non-null  object
 4   Destination Airport                       36238 non-null  object
 5   Scheduled departure time                  36238 non-null  object
 6   Actual departure time                     36238 non-null  object
 7   Scheduled elapsed time (Minutes)          36238 non-null  float64
 8   Actual elapsed time (Minutes)             36238 non-null  float64
 9   Departure delay (Minutes)                 36238 non-null  float64
 10  Wheels-off time                           36238 non-null  object
 11  Taxi-Out time (Minutes)                   36238 non-null  float64
 12  Delay Carrier (Minutes)                   36238 non-null  float64
 13  Delay Weather (Minutes)                   36238 non-null  float64
 14  Delay National Aviation System (Minutes)  36238 non-null  float64
 15  Delay Security (Minutes)                  36238 non-null  float64
 16  Delay Late Aircraft Arrival (Minutes)     36238 non-null  float64
dtypes: float64(10), object(7)
memory usage: 4.7+ MB

In [426]:
# drops columns
delta_df = delta_df.drop(columns = {'Wheels-off time'})

## american_df

In [427]:
# returns first five rows of american_df
american_df.head()

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,AA,1/1/17,94.0,N3BDAA,JFK,7:45,7:46,318.0,329.0,1.0,8:04,18.0,0.0,0.0,0.0,0.0,0.0
1,AA,1/1/17,156.0,N3GNAA,ORD,11:20,11:14,244.0,226.0,-6.0,11:30,16.0,0.0,0.0,0.0,0.0,0.0
2,AA,1/1/17,459.0,N510AA,DFW,6:30,6:21,182.0,169.0,-9.0,6:37,16.0,0.0,0.0,0.0,0.0,0.0
3,AA,1/1/17,475.0,N559AA,DFW,10:51,10:46,175.0,171.0,-5.0,11:03,17.0,0.0,0.0,0.0,0.0,0.0
4,AA,1/1/17,563.0,N927AA,CLT,22:40,22:55,260.0,252.0,15.0,23:09,14.0,0.0,0.0,0.0,0.0,0.0

In [428]:
# checks shape of dataframe
american_df.shape

(40208, 17)

In [429]:
# returns list of variables for alaska_df
american_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40208 entries, 0 to 40207
Data columns (total 17 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Carrier Code                              40207 non-null  object
 1   Date (MM/DD/YYYY)                         40206 non-null  object
 2   Flight Number                             40206 non-null  float64
 3   Tail Number                               40125 non-null  object
 4   Destination Airport                       40206 non-null  object
 5   Scheduled departure time                  40206 non-null  object
 6   Actual departure time                     40206 non-null  object
 7   Scheduled elapsed time (Minutes)          40206 non-null  float64
 8   Actual elapsed time (Minutes)             40206 non-null  float64
 9   Departure delay (Minutes)                 40206 non-null  float64
 10  Wheels-off time                           40206 non-null  object
 11  Taxi-Out time (Minutes)                   40206 non-null  float64
 12  Delay Carrier (Minutes)                   40206 non-null  float64
 13  Delay Weather (Minutes)                   40206 non-null  float64
 14  Delay National Aviation System (Minutes)  40206 non-null  float64
 15  Delay Security (Minutes)                  40206 non-null  float64
 16  Delay Late Aircraft Arrival (Minutes)     40206 non-null  float64
dtypes: float64(10), object(7)
memory usage: 5.2+ MB

In [430]:
# drops columns
american_df = american_df.drop(columns = {'Wheels-off time'})

## united_df

In [431]:
# returns first five rows of united_df
united_df.head()

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,UA,1/1/17,231.0,N78509,DEN,17:55,17:49,143.0,129.0,-6.0,18:00,11.0,0.0,0.0,0.0,0.0,0.0
1,UA,1/1/17,238.0,N18119,IAD,22:15,23:11,282.0,262.0,56.0,23:26,15.0,0.0,0.0,0.0,0.0,36.0
2,UA,1/1/17,307.0,N410UA,ORD,7:00,7:15,242.0,229.0,15.0,7:31,16.0,0.0,0.0,0.0,0.0,0.0
3,UA,1/1/17,370.0,N402UA,SFO,15:10,15:10,96.0,88.0,0.0,15:22,12.0,0.0,0.0,0.0,0.0,0.0
4,UA,1/1/17,377.0,N78438,SFO,19:50,19:43,98.0,88.0,-7.0,19:53,10.0,0.0,0.0,0.0,0.0,0.0

In [432]:
# checks shape of dataframe
united_df.shape

(42175, 17)

In [433]:
# returns list of variables for southwest_df
united_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42175 entries, 0 to 42174
Data columns (total 17 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Carrier Code                              42174 non-null  object
 1   Date (MM/DD/YYYY)                         42173 non-null  object
 2   Flight Number                             42173 non-null  float64
 3   Tail Number                               41620 non-null  object
 4   Destination Airport                       42173 non-null  object
 5   Scheduled departure time                  42173 non-null  object
 6   Actual departure time                     42173 non-null  object
 7   Scheduled elapsed time (Minutes)          42173 non-null  float64
 8   Actual elapsed time (Minutes)             42173 non-null  float64
 9   Departure delay (Minutes)                 42173 non-null  float64
 10  Wheels-off time                           42173 non-null  object
 11  Taxi-Out time (Minutes)                   42173 non-null  float64
 12  Delay Carrier (Minutes)                   42173 non-null  float64
 13  Delay Weather (Minutes)                   42173 non-null  float64
 14  Delay National Aviation System (Minutes)  42173 non-null  float64
 15  Delay Security (Minutes)                  42173 non-null  float64
 16  Delay Late Aircraft Arrival (Minutes)     42173 non-null  float64
dtypes: float64(10), object(7)
memory usage: 5.5+ MB

In [434]:
# drops columns
united_df = united_df.drop(columns = {'Wheels-off time'})

## southwest_df

In [435]:
# returns first five rows of southwest_df
southwest_df.head()

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,WN,1/1/17,19.0,N752SW,DAL,6:45,6:47,170.0,167.0,2.0,6:58,11.0,0.0,0.0,0.0,0.0,0.0
1,WN,1/1/17,51.0,N386SW,PHX,10:15,10:09,70.0,87.0,-6.0,10:33,24.0,0.0,0.0,0.0,0.0,0.0
2,WN,1/1/17,138.0,N217JC,RNO,11:35,11:31,95.0,98.0,-4.0,11:49,18.0,0.0,0.0,0.0,0.0,0.0
3,WN,1/1/17,175.0,N489WN,OAK,19:55,20:45,90.0,91.0,50.0,20:55,10.0,0.0,0.0,1.0,0.0,50.0
4,WN,1/1/17,271.0,N654SW,LAS,11:25,11:22,70.0,75.0,-3.0,11:40,18.0,0.0,0.0,0.0,0.0,0.0

In [436]:
# checks shape of dataframe
southwest_df.shape

(159392, 17)

In [437]:
# returns list of variables for southwest_df
southwest_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159392 entries, 0 to 159391
Data columns (total 17 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Carrier Code                              159391 non-null  object
 1   Date (MM/DD/YYYY)                         159390 non-null  object
 2   Flight Number                             159390 non-null  float64
 3   Tail Number                               157310 non-null  object
 4   Destination Airport                       159390 non-null  object
 5   Scheduled departure time                  159390 non-null  object
 6   Actual departure time                     159390 non-null  object
 7   Scheduled elapsed time (Minutes)          159390 non-null  float64
 8   Actual elapsed time (Minutes)             159390 non-null  float64
 9   Departure delay (Minutes)                 159390 non-null  float64
 10  Wheels-off time                           159390 non-null  object
 11  Taxi-Out time (Minutes)                   159390 non-null  float64
 12  Delay Carrier (Minutes)                   159390 non-null  float64
 13  Delay Weather (Minutes)                   159390 non-null  float64
 14  Delay National Aviation System (Minutes)  159390 non-null  float64
 15  Delay Security (Minutes)                  159390 non-null  float64
 16  Delay Late Aircraft Arrival (Minutes)     159390 non-null  float64
dtypes: float64(10), object(7)
memory usage: 20.7+ MB

In [438]:
# drops columns
southwest_df = southwest_df.drop(columns = {'Wheels-off time'})

# 3. Renaming Columns (Data Wrangling)

## airport_codes_df

In [439]:
# renames airport_codes_df columns
airport_codes_df.rename(columns = {'AirportCode': 'Airport Code', 'CityName': 'Full Location'}, inplace = True)

In [440]:
# checks for renamed columns
airport_codes_df.head()

  Airport Code                        Full Location
0          AAC  AL ARISH, ARAB REP. OF EGYPT
1          AAE  ANNABA, ALGERIA
2          AAF  APALACHICOLA, FLORIDA, USA
3          AAH  AACHEN, GERMANY
4          AAI  ARRAIAS, BRAZIL

## delta_df

In [441]:
# renames delta_df columns
delta_df.rename(columns = {'Scheduled departure time':'Scheduled Departure Time', 'Actual departure time': 'Actual Departure Time', 'Departure delay (Minutes)': 'Departure Delay (Minutes)', 'Scheduled elapsed time (Minutes)': 'Scheduled Elapsed Time (Minutes)', 'Actual elapsed time (Minutes)': 'Actual Elapsed Time (Minutes)', 'Taxi-Out time (Minutes)': 'Taxi-Out Time (Minutes)', 'Carrier Code':'Carrier'}, inplace = True)

In [442]:
# checks renamed columns for delta_df
delta_df.head()

,Carrier,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled Departure Time,Actual Departure Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Departure Delay (Minutes),Taxi-Out Time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,DL,1/1/17,50.0,N385DN,SLC,16:45,16:49,119.0,108.0,4.0,15.0,0.0,0.0,0.0,0.0,0.0
1,DL,1/1/17,106.0,N313US,SLC,13:05,13:01,117.0,116.0,-4.0,20.0,0.0,0.0,0.0,0.0,0.0
2,DL,1/1/17,132.0,N588NW,DTW,7:15,7:18,258.0,247.0,3.0,14.0,0.0,0.0,0.0,0.0,0.0
3,DL,1/1/17,798.0,N848DN,SLC,6:15,6:38,125.0,126.0,23.0,15.0,23.0,0.0,1.0,0.0,0.0
4,DL,1/1/17,1592.0,N557NW,ATL,6:30,7:00,251.0,243.0,30.0,19.0,22.0,0.0,0.0,0.0,0.0

## american_df

In [443]:
# renames american_df columns
american_df.rename(columns = {'Scheduled departure time':'Scheduled Departure Time', 'Actual departure time': 'Actual Departure Time', 'Departure delay (Minutes)': 'Departure Delay (Minutes)', 'Scheduled elapsed time (Minutes)': 'Scheduled Elapsed Time (Minutes)', 'Actual elapsed time (Minutes)': 'Actual Elapsed Time (Minutes)', 'Taxi-Out time (Minutes)': 'Taxi-Out Time (Minutes)', 'Carrier Code':'Carrier'}, inplace = True)

In [444]:
# checks renamed columns for american_df
american_df.head()

,Carrier,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled Departure Time,Actual Departure Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Departure Delay (Minutes),Taxi-Out Time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,AA,1/1/17,94.0,N3BDAA,JFK,7:45,7:46,318.0,329.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0
1,AA,1/1/17,156.0,N3GNAA,ORD,11:20,11:14,244.0,226.0,-6.0,16.0,0.0,0.0,0.0,0.0,0.0
2,AA,1/1/17,459.0,N510AA,DFW,6:30,6:21,182.0,169.0,-9.0,16.0,0.0,0.0,0.0,0.0,0.0
3,AA,1/1/17,475.0,N559AA,DFW,10:51,10:46,175.0,171.0,-5.0,17.0,0.0,0.0,0.0,0.0,0.0
4,AA,1/1/17,563.0,N927AA,CLT,22:40,22:55,260.0,252.0,15.0,14.0,0.0,0.0,0.0,0.0,0.0

## united_df

In [445]:
# renames united_df columns
united_df.rename(columns = {'Scheduled departure time':'Scheduled Departure Time', 'Actual departure time': 'Actual Departure Time', 'Departure delay (Minutes)': 'Departure Delay (Minutes)', 'Scheduled elapsed time (Minutes)': 'Scheduled Elapsed Time (Minutes)', 'Actual elapsed time (Minutes)': 'Actual Elapsed Time (Minutes)', 'Taxi-Out time (Minutes)': 'Taxi-Out Time (Minutes)', 'Carrier Code':'Carrier'}, inplace = True)

In [446]:
# checks renamed columns for united_df
united_df.head()

,Carrier,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled Departure Time,Actual Departure Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Departure Delay (Minutes),Taxi-Out Time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,UA,1/1/17,231.0,N78509,DEN,17:55,17:49,143.0,129.0,-6.0,11.0,0.0,0.0,0.0,0.0,0.0
1,UA,1/1/17,238.0,N18119,IAD,22:15,23:11,282.0,262.0,56.0,15.0,0.0,0.0,0.0,0.0,36.0
2,UA,1/1/17,307.0,N410UA,ORD,7:00,7:15,242.0,229.0,15.0,16.0,0.0,0.0,0.0,0.0,0.0
3,UA,1/1/17,370.0,N402UA,SFO,15:10,15:10,96.0,88.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0
4,UA,1/1/17,377.0,N78438,SFO,19:50,19:43,98.0,88.0,-7.0,10.0,0.0,0.0,0.0,0.0,0.0

## southwest_df

In [447]:
# renames alaska_df columns
southwest_df.rename(columns = {'Scheduled departure time':'Scheduled Departure Time', 'Actual departure time': 'Actual Departure Time', 'Departure delay (Minutes)': 'Departure Delay (Minutes)', 'Scheduled elapsed time (Minutes)': 'Scheduled Elapsed Time (Minutes)', 'Actual elapsed time (Minutes)': 'Actual Elapsed Time (Minutes)', 'Taxi-Out time (Minutes)': 'Taxi-Out Time (Minutes)', 'Carrier Code':'Carrier'}, inplace = True)

In [448]:
# checks renamed columns for southwest_df
southwest_df.head()

,Carrier,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled Departure Time,Actual Departure Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Departure Delay (Minutes),Taxi-Out Time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,WN,1/1/17,19.0,N752SW,DAL,6:45,6:47,170.0,167.0,2.0,11.0,0.0,0.0,0.0,0.0,0.0
1,WN,1/1/17,51.0,N386SW,PHX,10:15,10:09,70.0,87.0,-6.0,24.0,0.0,0.0,0.0,0.0,0.0
2,WN,1/1/17,138.0,N217JC,RNO,11:35,11:31,95.0,98.0,-4.0,18.0,0.0,0.0,0.0,0.0,0.0
3,WN,1/1/17,175.0,N489WN,OAK,19:55,20:45,90.0,91.0,50.0,10.0,0.0,0.0,1.0,0.0,50.0
4,WN,1/1/17,271.0,N654SW,LAS,11:25,11:22,70.0,75.0,-3.0,18.0,0.0,0.0,0.0,0.0,0.0

# 4. Checking for Mixed & Data Types (Data Types)

## airport_codes_df

In [449]:
# check for mixed types in the airport_codes_df
for cols in airport_codes_df.columns.tolist():
    mixed_type = (airport_codes_df[[cols]].applymap(type) != airport_codes_df
[[cols]].iloc[0].apply(type)).any(axis = 1)
    if len(airport_codes_df[mixed_type])>0:
        print(cols)
# no mixed type columnes

## delta_df

In [450]:
# check for mixed types in the delta_df
for cols in delta_df.columns.tolist():
    mixed_type = (delta_df[[cols]].applymap(type) != delta_df
[[cols]].iloc[0].apply(type)).any(axis = 1)
    if len(delta_df[mixed_type])>0:
        print(cols)

Carrier
Date (MM/DD/YYYY)
Tail Number
Destination Airport
Scheduled Departure Time
Actual Departure Time

In [451]:
# converts mixed type columns to strings and date times
delta_df['Carrier'] = delta_df['Carrier'].astype(str)
delta_df['Date (MM/DD/YYYY)'] = delta_df['Date (MM/DD/YYYY)'].astype(str)
delta_df['Tail Number'] = delta_df['Tail Number'].astype(str)
delta_df['Destination Airport'] = delta_df['Destination Airport'].astype(str)
delta_df['Actual Departure Time'] = pd.to_datetime(delta_df['Actual Departure Time'], format = '%H:%M').dt.time
delta_df['Scheduled Departure Time'] = pd.to_datetime(delta_df['Scheduled Departure Time'], format = '%H:%M').dt.time

In [452]:
# check for mixed types in the delta_df
for cols in delta_df.columns.tolist():
    mixed_type = (delta_df[[cols]].applymap(type) != delta_df
[[cols]].iloc[0].apply(type)).any(axis = 1)
    if len(delta_df[mixed_type])>0:
        print(cols)
# Scheduled Departure Times & Actual Departure times have na values in them, resulting in mixed values.These will be taken care of in next script.

Scheduled Departure Time
Actual Departure Time

## american_df

In [453]:
# check for mixed types in the american_df
for cols in american_df.columns.tolist():
    mixed_type = (american_df[[cols]].applymap(type) != american_df
[[cols]].iloc[0].apply(type)).any(axis = 1)
    if len(american_df[mixed_type])>0:
        print(cols)

Carrier
Date (MM/DD/YYYY)
Tail Number
Destination Airport
Scheduled Departure Time
Actual Departure Time

In [454]:
# converts mixed type columns to strings and date times
american_df['Carrier'] = american_df['Carrier'].astype(str)
american_df['Date (MM/DD/YYYY)'] = american_df['Date (MM/DD/YYYY)'].astype(str)
american_df['Tail Number'] = american_df['Tail Number'].astype(str)
american_df['Destination Airport'] = american_df['Destination Airport'].astype(str)
american_df['Actual Departure Time'] = pd.to_datetime(american_df['Actual Departure Time'], format = '%H:%M').dt.time
american_df['Scheduled Departure Time'] = pd.to_datetime(american_df['Scheduled Departure Time'], format = '%H:%M').dt.time

In [455]:
# check for mixed types in the american_df
for cols in american_df.columns.tolist():
    mixed_type = (american_df[[cols]].applymap(type) != american_df
[[cols]].iloc[0].apply(type)).any(axis = 1)
    if len(american_df[mixed_type])>0:
        print(cols)
# Scheduled Departure Times & Actual Departure times have na values in them, resulting in mixed values.These will be taken care of in next script.

Scheduled Departure Time
Actual Departure Time

## united_df

In [456]:
# check for mixed types in the united_df
for cols in united_df.columns.tolist():
    mixed_type = (united_df[[cols]].applymap(type) != united_df
[[cols]].iloc[0].apply(type)).any(axis = 1)
    if len(united_df[mixed_type])>0:
        print(cols)

Carrier
Date (MM/DD/YYYY)
Tail Number
Destination Airport
Scheduled Departure Time
Actual Departure Time

In [457]:
# converts mixed type columns to strings and date times
united_df['Carrier'] = united_df['Carrier'].astype(str)
united_df['Date (MM/DD/YYYY)'] = united_df['Date (MM/DD/YYYY)'].astype(str)
united_df['Tail Number'] = united_df['Tail Number'].astype(str)
united_df['Destination Airport'] = united_df['Destination Airport'].astype(str)
united_df['Actual Departure Time'] = pd.to_datetime(united_df['Actual Departure Time'], format = '%H:%M').dt.time
united_df['Scheduled Departure Time'] = pd.to_datetime(united_df['Scheduled Departure Time'], format = '%H:%M').dt.time

In [458]:
# check for mixed types in the united_df
for cols in united_df.columns.tolist():
    mixed_type = (united_df[[cols]].applymap(type) != united_df
[[cols]].iloc[0].apply(type)).any(axis = 1)
    if len(united_df[mixed_type])>0:
        print(cols)
# Scheduled Departure Times & Actual Departure times have na values in them, resulting in mixed values.These will be taken care of in next script.

Scheduled Departure Time
Actual Departure Time

## southwest_df

In [459]:
# check for mixed types in the southwest_df
for cols in southwest_df.columns.tolist():
    mixed_type = (southwest_df[[cols]].applymap(type) != southwest_df
[[cols]].iloc[0].apply(type)).any(axis = 1)
    if len(southwest_df[mixed_type])>0:
        print(cols)

Carrier
Date (MM/DD/YYYY)
Tail Number
Destination Airport
Scheduled Departure Time
Actual Departure Time

In [460]:
# converts mixed type columns to strings and date times
southwest_df['Carrier'] = southwest_df['Carrier'].astype(str)
southwest_df['Date (MM/DD/YYYY)'] = southwest_df['Date (MM/DD/YYYY)'].astype(str)
southwest_df['Tail Number'] = southwest_df['Tail Number'].astype(str)
southwest_df['Destination Airport'] = southwest_df['Destination Airport'].astype(str)
southwest_df['Actual Departure Time'] = pd.to_datetime(southwest_df['Actual Departure Time'], format = '%H:%M').dt.time
southwest_df['Scheduled Departure Time'] = pd.to_datetime(southwest_df['Scheduled Departure Time'], format = '%H:%M').dt.time

In [461]:
# check for mixed types in the southwest_df
for cols in southwest_df.columns.tolist():
    mixed_type = (southwest_df[[cols]].applymap(type) != southwest_df
[[cols]].iloc[0].apply(type)).any(axis = 1)
    if len(southwest_df[mixed_type])>0:
        print(cols)
# Scheduled Departure Times & Actual Departure times have na values in them, resulting in mixed values.These will be taken care of in next script.

Scheduled Departure Time
Actual Departure Time

# 5. Change Data Types

In [462]:
# Changes data types of flight number for four airlines to a string.
delta_df['Flight Number'] = delta_df['Flight Number'].astype(str)
american_df['Flight Number'] = american_df['Flight Number'].astype(str)
united_df['Flight Number'] = united_df['Flight Number'].astype(str)
southwest_df['Flight Number'] = southwest_df['Flight Number'].astype(str)

# 6. Transpose Data & Subset
## No data needs to be transposed

# 7. Export Wrangled Dataframes

In [463]:
# exports all dfs to prepared data folder
delta_df.to_csv(os.path.join(path, 'Prepared Data', 'delta_df_wrangled.csv'))
american_df.to_csv(os.path.join(path, 'Prepared Data', 'american_df_wrangled.csv'))
united_df.to_csv(os.path.join(path, 'Prepared Data', 'united_df_wrangled.csv'))
southwest_df.to_csv(os.path.join(path, 'Prepared Data', 'southwest_df_wrangled.csv'))
airport_codes_df.to_csv(os.path.join(path, 'Prepared Data', 'airport_codes_df_wrangled.csv'))