# Import Libraries

In [52]:
# imports libraires
import numpy as np
import pandas as pd
import os

# Import Data

In [53]:
# imports data
path = r'/Users/oliviamurphy/Desktop/Airlines Project/02 Data/Prepared Data'
airlines_df = pd.read_csv(os.path.join(path, 'airlines_df_cluster.csv'))

# Stats to Tell Tableau Story

In [54]:
# returns columns
airlines_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278007 entries, 0 to 278006
Data columns (total 36 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Unnamed: 0                                      278007 non-null  int64
 1   Unnamed: 0.1                                    278007 non-null  int64
 2   Carrier                                         278007 non-null  object
 3   Date (MM/DD/YYYY)                               278007 non-null  object
 4   Flight Number                                   278007 non-null  float64
 5   Tail Number                                     275246 non-null  object
 6   Destination Airport                             278007 non-null  object
 7   Scheduled Departure Time                        278007 non-null  object
 8   Actual Departure Time                           278007 non-null  object
 9   Scheduled Elapsed Time (Minutes)                278007 non-null  float64
 10  Actual Elapsed Time (Minutes)                   278007 non-null  float64
 11  Departure Delay (Minutes)                       278007 non-null  float64
 12  Taxi-Out Time (Minutes)                         278007 non-null  float64
 13  Delay Carrier (Minutes)                         278007 non-null  float64
 14  Delay Weather (Minutes)                         278007 non-null  float64
 15  Delay National Aviation System (Minutes)        278007 non-null  float64
 16  Delay Security (Minutes)                        278007 non-null  float64
 17  Delay Late Aircraft Arrival (Minutes)           278007 non-null  float64
 18  City                                            278007 non-null  object
 19  State                                           278007 non-null  object
 20  Flight Month                                    278007 non-null  object
 21  Flight Day                                      278007 non-null  int64
 22  Flight Year                                     278007 non-null  int64
 23  Known Total Delay (Minutes)                     278007 non-null  float64
 24  Unaccounted Delay Time                          278007 non-null  float64
 25  Actual Departure Date & Time                    278007 non-null  object
 26  Scheduled Departure Date & Time                 278007 non-null  object
 27  Difference in Actual & Expected Departure Time  278007 non-null  object
 28  Difference in Actual & Expected Air Time        278007 non-null  float64
 29  Delay Carrier (%)                               278007 non-null  float64
 30  Delay Weather (%)                               278007 non-null  float64
 31  Delay National Aviation System (%)              278007 non-null  float64
 32  Delay Security (%)                              278007 non-null  float64
 33  Delay Late Aircraft Arrival (%)                 278007 non-null  float64
 34  Delay?                                          278007 non-null  object
 35  Cluster Number                                  278007 non-null  int64
dtypes: float64(18), int64(5), object(13)
memory usage: 76.4+ MB

In [55]:
# number of flights leaving SFI from 2017-2021
airlines_df.shape

(278007, 36)

In [56]:
# number of flights leaving SFI in 2021
airlines_df['Flight Year'].value_counts()

2019    68461
2018    65833
2017    61848
2021    41928
2020    39937
Name: Flight Year, dtype: int64

In [57]:
df_2021 = airlines_df[airlines_df['Flight Year']== 2021]

In [58]:
df_2021['Delay?'].value_counts()

No     35817
Yes     6111
Name: Delay?, dtype: int64

In [59]:
6111/35817

0.1706173046318787

# Create dataframe for ontime flights vs delayed flights

In [60]:
# creates subset for delayed flights
delayed_flights = airlines_df[airlines_df['Delay?']=='Yes']

In [61]:
# creates subset for ontime flights
ontime_flights = airlines_df[airlines_df['Delay?']=='No']

In [62]:
# creates df for counts of delayed  flights
delayed_flights_grouped = delayed_flight.groupby(['Carrier', 'Flight Year'])['Delay?'].count()

In [63]:
# checks output of delayed_flights_grouped
delayed_flights_grouped

Carrier    Flight Year
American   2017           1245
           2018           1333
           2019           1314
           2020            456
           2021            847
Delta      2017            722
           2018            848
           2019           1062
           2020            349
           2021            499
Southwest  2017           7083
           2018           7447
           2019           6490
           2020            916
           2021           3903
United     2017           1317
           2018           1708
           2019           1749
           2020            302
           2021            862
Name: Delay?, dtype: int64

In [64]:
# resets index for delayed_flights_grouped
delayed_flights_grouped = delayed_flights_grouped.reset_index()

In [65]:
# renames column for the count of the delayed flights
delayed_flights_grouped.rename(columns = {'Delay?': 'Delayed Flights Count'}, inplace = True)

In [66]:
# checks output of delayed_flights_grouped
delayed_flights_grouped

      Carrier  Flight Year  Delayed Flights Count
0    American         2017                   1245
1    American         2018                   1333
2    American         2019                   1314
3    American         2020                    456
4    American         2021                    847
5       Delta         2017                    722
6       Delta         2018                    848
7       Delta         2019                   1062
8       Delta         2020                    349
9       Delta         2021                    499
10  Southwest         2017                   7083
11  Southwest         2018                   7447
12  Southwest         2019                   6490
13  Southwest         2020                    916
14  Southwest         2021                   3903
15     United         2017                   1317
16     United         2018                   1708
17     United         2019                   1749
18     United         2020                    302
19     United         2021                    862

In [67]:
# # creates df for counts of ontime  flights
ontime_flights_grouped = ontime_flights.groupby(['Carrier', 'Flight Year'])['Delay?'].count()

In [68]:
# checks output of ontime_flights_grouped
ontime_flights_grouped

Carrier    Flight Year
American   2017            7904
           2018            7674
           2019            7613
           2020            5270
           2021            6550
Delta      2017            6321
           2018            7103
           2019            7876
           2020            5273
           2021            6185
Southwest  2017           28955
           2018           30901
           2019           34251
           2020           22571
           2021           16873
United     2017            8301
           2018            8819
           2019            8106
           2020            4800
           2021            6209
Name: Delay?, dtype: int64

In [75]:
#resets index for ontime flights
ontime_flights_grouped = ontime_flights_grouped.reset_index()

In [77]:
# renames column for ontime flight counts 
ontime_flights_grouped.rename(columns = {'Delay?': 'Ontime Flights Count'}, inplace = True)

In [78]:
# Checks outout of ontime_flights_grouped
ontime_flights_grouped

      Carrier  Flight Year  Ontime Flights Count
0    American         2017                  7904
1    American         2018                  7674
2    American         2019                  7613
3    American         2020                  5270
4    American         2021                  6550
5       Delta         2017                  6321
6       Delta         2018                  7103
7       Delta         2019                  7876
8       Delta         2020                  5273
9       Delta         2021                  6185
10  Southwest         2017                 28955
11  Southwest         2018                 30901
12  Southwest         2019                 34251
13  Southwest         2020                 22571
14  Southwest         2021                 16873
15     United         2017                  8301
16     United         2018                  8819
17     United         2019                  8106
18     United         2020                  4800
19     United         2021                  6209

In [80]:
# merges dataframes
delayed_ontime_flights = ontime_flights_grouped.merge(delayed_flights_grouped, on = ['Carrier', 'Flight Year'])

In [82]:
# checks output of merge
delayed_ontime_flights

      Carrier  Flight Year  Ontime Flights Count  Delayed Flights Count
0    American         2017                  7904                   1245
1    American         2018                  7674                   1333
2    American         2019                  7613                   1314
3    American         2020                  5270                    456
4    American         2021                  6550                    847
5       Delta         2017                  6321                    722
6       Delta         2018                  7103                    848
7       Delta         2019                  7876                   1062
8       Delta         2020                  5273                    349
9       Delta         2021                  6185                    499
10  Southwest         2017                 28955                   7083
11  Southwest         2018                 30901                   7447
12  Southwest         2019                 34251                   6490
13  Southwest         2020                 22571                    916
14  Southwest         2021                 16873                   3903
15     United         2017                  8301                   1317
16     United         2018                  8819                   1708
17     United         2019                  8106                   1749
18     United         2020                  4800                    302
19     United         2021                  6209                    862

In [83]:
# creates column for total flights
delayed_ontime_flights['Total Flights'] = delayed_ontime_flights['Ontime Flights Count']+ delayed_ontime_flights['Delayed Flights Count']

In [87]:
# creates column for the % of ontime flights
delayed_ontime_flights['Ontime Flights %'] = delayed_ontime_flights['Ontime Flights Count']/delayed_ontime_flights['Total Flights']

In [85]:
# creates column for the % of delayed flights
delayed_ontime_flights['Delayed Flights %'] = delayed_ontime_flights['Delayed Flights Count']/delayed_ontime_flights['Total Flights']

In [86]:
# checks output 
delayed_ontime_flights

,Carrier,Flight Year,Ontime Flights Count,Delayed Flights Count,Total Flights,Ontime Flights %,Delayed Flights %
0,American,2017,7904,1245,9149,0.863920,0.136080
1,American,2018,7674,1333,9007,0.852004,0.147996
2,American,2019,7613,1314,8927,0.852806,0.147194
3,American,2020,5270,456,5726,0.920363,0.079637
4,American,2021,6550,847,7397,0.885494,0.114506
5,Delta,2017,6321,722,7043,0.897487,0.102513
6,Delta,2018,7103,848,7951,0.893347,0.106653
7,Delta,2019,7876,1062,8938,0.881181,0.118819
8,Delta,2020,5273,349,5622,0.937922,0.062078
9,Delta,2021,6185,499,6684,0.925344,0.074656
10,Southwest,2017,28955,7083,36038,0.803457,0.196543
11,Southwest,2018,30901,7447,38348,0.805805,0.194195
12,Southwest,2019,34251,6490,40741,0.840701,0.159299
13,Southwest,2020,22571,916,23487,0.961000,0.039000
14,Southwest,2021,16873,3903,20776,0.812139,0.187861
15,United,2017,8301,1317,9618,0.863069,0.136931
16,United,2018,8819,1708,10527,0.837751,0.162249
17,United,2019,8106,1749,9855,0.822527,0.177473
18,United,2020,4800,302,5102,0.940808,0.059192
19,United,2021,6209,862,7071,0.878094,0.121906

In [90]:
# exports dataframe to csv
delayed_ontime_flights.to_csv(os.path.join(path, 'ontime_vs_delayed_overview.csv'))